.custom-container {
  position: relative;
  margin-left: 35px;
  margin-right: 35px;
}

.modal-container {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 30px;
  z-index: 1000;
  border-radius: 20px;
}
